@model AddStudent
@{
}

@* this model is for the add student function *@

<div class="row">
    <div class="col">
        <h2 class="text-center mb-5">Add Student</h2>

        <form method="post" enctype="multipart/form-data"> 
            <div class="row mb-3" >
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-bg-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Date of Birth</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="DateofBirth" type="date">
                    <span asp-validation-for="DateofBirth" class="text-danger"></span>
                </div>
            </div>


            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Add Student</button>
                </div>
                <div>
                    <a class="btn btn-outline-primary" asp-controller="Students" asp-action="Index">Cancel</a>
                </div>
            </div>

        </form>






    </div>
   




</div>


