
@{
    ViewData["Title"] = "Forgot Password";
}

<p>testing</p>

<body class="bg-light">
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow-sm" style="width: 400px;">
            <div class="card-body text-center">
                <img src="your-logo.svg" alt="Logo" class="mb-4" width="50">
                <h5 class="mb-2">Forgot password?</h5>
                <p class="text-muted mb-4">No worries, we'll send you reset instructions.</p>
                <form>
                    <div class="mb-3 text-start">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                    </div>
                    <button asp-action="EnterCode" type="submit" class="btn btn-primary w-100">Reset password</button>
                </form>
                <a href="@Url.Action("Signin", "Account")" class="d-block mt-3 text-decoration-none">← Back to log in</a>
                <a href="@Url.Action("EnterCode", "Account")" class="d-block mt-3 text-decoration-none">Next</a>
            </div>
        </div>


    </div>
</body>
