@{
    Layout = "Account";  // Specifies the layout to use
    ViewData["Title"] = "Home Page";
}
   
 <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="container">
            <h2 class="text-center">Sign Up</h2>
            <form asp-action="Signup">
                <label>First Name</label>
                <input type="text" name="firstName" class="form-control" />
                <label>Last Name</label>
                <input type="text" name="LastName" class="form-control" />
                <label>Email</label>
                <input type="email" name="email" class="form-control" />
                <label>Password</label>
                <input type="password" name="password" class="form-control" />
                <label>Confirm password</label>
                <input type="password" name="confirmPassword" class="form-control" />
                <button class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>

   