@{
    ViewData["Title"] = "Sign in";
}

<div>image</div>
<div>
    <form>
        <label>Email</label>
        <input type="email" name="email" class="form-control" />

        <label>Password</label>
        <input type="password" name="password" class="form-control" />
    </form>
</div>

<button class="btn btn-primary">Sign in</button>

<div class="flex-column align-items-center" >
    <a href="">Forgot password?</a>

    <a asp-action="Signup">Create an account</a>

</div>
