@{
    Layout = "Student_Layout";  // Specifies the layout to use
    ViewData["Title"] = "Schedule";
}



    <div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
        <div class="container bg-white border shadow-sm p-4"
             style="border-radius: 20px; max-width: 1200px; width: 95%;">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="m-0">Hello, Nadine!</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th class="table-light">Time</th>
                            <th class="table-light">Monday</th>
                            <th class="table-light">Tuesday</th>
                            <th class="table-light">Wednesday</th>
                            <th class="table-light">Thursday</th>
                            <th class="table-light">Friday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fw-bold text-secondary">7:10 - 7:30</td>
                            <td colspan="5" class="bg-light">Flag Ceremony</td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-secondary">7:30 - 8:30</td>
                            <td class="bg-success text-white">General Biology 1<br><small>REYNALYN. N. MENDEZ</small></td>
                            <td class="bg-success text-white">General Biology 1<br><small>REYNALYN. N. MENDEZ</small></td>
                            <td class="bg-success text-white">General Biology 1<br><small>REYNALYN. N. MENDEZ</small></td>
                            <td class="bg-success text-white">Pagsulat sa Piling Larangan<br><small>JONEL B. BABASA</small></td>
                            <td class="bg-success text-white">General Biology 1<br><small>REYNALYN. N. MENDEZ</small></td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-secondary">8:30 - 9:30</td>
                            <td class="bg-danger text-white">General Physics 1<br><small>ANALIZA M. MARQUEZ</small></td>
                            <td class="bg-info text-white">Media and Info Literacy<br><small>MICHELLE S. CARANZA</small></td>
                            <td class="bg-danger text-white">General Physics 1<br><small>ANALIZA M. MARQUEZ</small></td>
                            <td class="bg-warning text-white">Contemporary Philippine Arts<br><small>MANOLO B. DE ALDAY</small></td>
                            <td class="bg-warning text-white">Contemporary Philippine Arts<br><small>MANOLO B. DE ALDAY</small></td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-secondary">9:30 - 9:50</td>
                            <td colspan="5" class="bg-light">Morning Break</td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-secondary">9:50 - 10:50</td>
                            <td class="bg-primary text-white">English for Academic Purposes<br><small>JANNAH I. ARROYO</small></td>
                            <td class="bg-warning text-white">Contemporary Philippine Arts<br><small>MANOLO B. DE ALDAY</small></td>
                            <td class="bg-info text-white">Media and Info Literacy<br><small>MICHELLE S. CARANZA</small></td>
                            <td class="bg-warning text-white">Contemporary Philippine Arts<br><small>MANOLO B. DE ALDAY</small></td>
                            <td class="bg-danger text-white">General Physics 1<br><small>ANALIZA M. MARQUEZ</small></td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-secondary">10:50 - 11:50</td>
                            <td class="bg-secondary text-white">Pagsulat sa Piling Larangan<br><small>JONEL B. BABASA</small></td>
                            <td class="bg-info text-white">Understanding Society<br><small>MARIE CRIS A. BISENIO</small></td>
                            <td class="bg-secondary text-white">Pagsulat sa Piling Larangan<br><small>JONEL B. BABASA</small></td>
                            <td class="bg-success text-white">21st Century Literature<br><small>NILLETE A. TINDUCAN</small></td>
                            <td class="bg-success text-white">21st Century Literature<br><small>NILLETE A. TINDUCAN</small></td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-secondary">11:50 - 1:10</td>
                            <td colspan="5" class="bg-light">Lunch Break</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


