@{
    Layout = "Admin_Layout";  // Specifies the layout to use
    ViewData["Title"] = "Home Page";
}

<body class="position-relative bg-image" style="font-family: 'Poppins', sans-serif; overflow-x: hidden">
    <img src="~/images/bgjr.png" alt="Background Image" class="img-fluid w-100" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">

<style>
    .container {
        background-color: #dce8fd;
        padding: 20px;
        border-radius: 10px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Faculty Schedule</h1>
</div>
</body>