@{
    Layout = "Admin_Layout";  // Specifies the layout to use
    ViewData["Title"] = "Home Page";
}


<style>
    .container {
        background-color: #dce8fd;
        padding: 20px;
        border-radius: 10px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Faculty Student</h1>
</div>
